<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of empresas$ | async">
        <td >{{ item.nombre_Emp}} </td>
      </tr>
    </tbody>
  </table>

</div>

<mat-tab-group mat-align-tabs="center" [(selectedIndex)]="indice">

  <mat-tab label="Registrar EMPRESA">
    <app-registrar></app-registrar>
  </mat-tab>

  <mat-tab label="Elegir EMPRESA" [disabled]=noactivo>
    <app-elegir></app-elegir>
  </mat-tab>

</mat-tab-group>
