<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step>
    <ng-template matStepLabel>Archivo con formato</ng-template>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field style="width:599px !important">
          <p class="file-name" *ngIf="!file; else fileName">Seleccione EMPRESA, archivo extensión XLS</p>

          <input matInput disabled placeholder="Si tiene archivo con formato (Leyout), Presione el icono">
          <input type="file" (change)="onFileChange($event)" style="display: none" #fileInput accept="*/*" (change)="onChangeFileInput()" #archivo/>

          <button matSuffix mat-mini-fab class="file-select-button" (click)="onClickFileInputButton()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="end start">
        <button mat-button (click)="llenado()" matStepperNext>Próximo</button>
      </div>
  </mat-step>

  <ng-template #llena>
    <app-llenar [archivo]="arEmpresa"></app-llenar>
  </ng-template>

  <ng-template #fileName>
    <p class="file-name">{{ file?.name }}</p>
  </ng-template>

  <mat-step>
    <ng-template matStepLabel>Llenar formato</ng-template>
      <div *ngIf="llenar">
        <app-llenar [archivo]="arEmpresa"></app-llenar>
      </div>

      <div>
        <br><br>
        <button mat-button (click)="llenado()" matStepperPrevious>Anterior</button>
      </div>

  </mat-step>
</mat-horizontal-stepper>