<div *ngIf="data.carga">
  <mat-spinner [diameter]="50" style="margin: 0 auto;"></mat-spinner>
  <p> </p>
  <span>{{data.info}}</span>
</div>

<div *ngIf="!data.carga">
  <h1 *ngIf="!data.icono" mat-dialog-title style="text-align: center">{{data.info}}</h1>

  <div mat-dialog-content>

    <div *ngIf="data.icono" style="text-align: center">
      <button mat-fab style="background-color: {{data.color}}">
        <mat-icon>{{data.icono}}</mat-icon>
      </button>
      <p> </p>
      <p><b>{{data.info}}</b></p>
    </div>

    <div *ngIf="!data.icono">
      <mat-form-field>
        <input matInput [placeholder]="data.campo[0]" [(ngModel)]="data.campo[1]">
      </mat-form-field>

      <br>
      
      <mat-form-field>
        <input matInput [placeholder]="data.campo[2]" [(ngModel)]="data.campo[3]">
      </mat-form-field>

      <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Cerrar</button>
        <button class="mat-raised-button mat-primary"(click)="save()">Guardar</button>
        <br><br><br><br><br>
      </mat-dialog-actions>
    </div>

  </div>

  <!-- <div *ngIf="!data.icono" mat-dialog-content>
    <mat-form-field>
      <input matInput
             placeholder="Introduza Correo Electrónico"
             formControlName="correo"
             [(ngModel)]="data.campo[1]">
    </mat-form-field>

    <mat-dialog-actions>
      <button class="mat-raised-button"(click)="close()">Cerrar</button>
      <button class="mat-raised-button mat-primary"(click)="save()">Guardar</button>
    </mat-dialog-actions>
  </div> -->

</div>
